* {
	box-sizing: border-box;
}
body {
	background-image: url("../images/background.jpg");
	background-attachment: fixed;
	background-position: center;
	font-family: "Libre Franklin", sans-serif;
	font-weight: 400;
	background-size: cover;
}
a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

.card {
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translate(-50%, -50%);
	width: 50%;
	padding: 50px 60px;
	box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.707);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.card h1 {
	font-size: 30px;
	font-weight: 200;
	letter-spacing: 2px;
	word-spacing: 3px;
	margin-bottom: 20px;
}

.card .form-card {
	min-width: 300px;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.form-card form {
	width: 100%;
}
.form-card form .query {
	margin: 10px 0;
	font-size: 17px;
}
.form-card form input {
	width: 100%;
	padding: 10px;
	outline: none;
	border-radius: 100px;
	border: 1px solid rgb(33, 177, 177);
	transition: all 0.2s;
}
.form-card form input:hover {
	box-shadow: 3px 3px 20px rgb(33, 177, 177);
}

.form-card form button {
	outline: none;
	font-size: 20px;
	width: 120px;
	padding: 5px 10px;
	border-radius: 100px;
	color: #fff;
	font-weight: 100;
	margin: 20px 0px 0px 0px;
	border: 1px solid rgb(33, 177, 177);
	background-color: rgb(33, 177, 177);
	transition: all 0.2s;
}
.form-card form button:hover {
	cursor: pointer;
	background-color: rgb(20, 117, 117);
	box-shadow: 3px 3px 20px rgb(33, 177, 177);
}
.form-card h5 {
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-weight: 100;
	word-spacing: 2px;
}
.form-card h5 a {
	color: rgb(33, 177, 177);
}
.home-button {
	position: absolute;
	top: 30px;
	right: 40px;
	font-size: 40px;
	color: rgb(20, 177, 177);
	border: 1px solid rgb(20, 177, 177);
	padding: 10px 15px;
	border-radius: 50%;
	transition: all 0.2s;
}
.home-button:hover {
	box-shadow: 2px 2px 20px rgb(33, 177, 177);
}
