* {
	box-sizing: border-box;
}
body {
	background-image: url("../images/background.jpg");
	background-attachment: fixed;
	background-position: center;
	font-family: "Libre Franklin", sans-serif;
	font-weight: 400;
	background-size: cover;
}
a {
	text-decoration: none;
}

li {
	list-style-type: none;
}
