<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task App</title>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet">        
    <link href="https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="/css/ionicons-2.0.1/css/ionicons.min.css">
</head>
<body>
    <div class="about-card">
        <div class="about-photo">
            <img src="../images/about.jpeg" alt="Profile Photo">
        </div>
        <div class="about-para">
            <p>This app has been made by Abhinav Thakur . If you are the person who faces problem in reminding your tasks then you must use this app once. </p>
            <p>This app uses node.js jwt for password authentication , mongodb database and express server .</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <h2><a href="https://github.com/geekyabhi/Task-app">Github Code <i class="ion-social-github"></i></a></h2>
        </div>
        <div></div>
    </div>
</body>
</html>