<html lang="en">
	<head>
		<title>Task App</title>
		<link
			href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,400&display=swap"
			rel="stylesheet"
		/>
		<base href="/" />
		<link rel="stylesheet" href="./css/style.css" />
		<link rel="stylesheet" href="./css/style-login.css" />

		<link
			rel="stylesheet"
			href="/css/ionicons-2.0.1/css/ionicons.min.css"
		/>
	</head>
	<body>
		<a href="/" class="home-button"><i class="ion-ios-home"></i></a>
		<div class="card">
			<h1>Login for your Account</h1>
			<div class="form-card">
				<form>
					<div class="query"><label for="email">Email</label></div>
					<input
						type="email"
						name="email"
						placeholder="Enter your email"
						class="dsc"
						required
					/>
					<div class="email error"></div>
					<div class="query"><label
							for="password"
						>Password</label></div>
					<input
						type="password"
						name="password"
						placeholder="Enter password"
						required
					/>
					<div class="cantloginerror"></div>
					<button>Login</button>
				</form>
				<h5>Don't have an account ? <a href="/users">Sign Up</a></h5>
			</div>
		</div>
	</body>
	<script src="./js/login.js"></script>
</html>