<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Task App</title>
		<link
			href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,400&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="./css/style.css" />
		<link rel="stylesheet" href="./css/style-profile.css" />
		<link
			rel="stylesheet"
			href="/css/ionicons-2.0.1/css/ionicons.min.css"
		/>
	</head>
	<body>
		<a href="/" class="home-button"><i class="ion-ios-home"></i></a>
		<div class="main">
			<div class="wrapper">
				<div class="greetings">
					<h1>Hello {{user.name}} !</h1>
				</div>
				<div class="detail-card">
					<div class="profile-text">
						<div class="details">
						</div>

					</div>

					<div class="profile-photo">
						<img />{{user.img}}
					</div>
				</div>
				<div class="options">
					<a href="/update" class="btn btn-1">
						Update
					</a>
					<a href="" class="delete-account btn btn-2">
						Delete Profile
					</a>
				</div>
			</div>
		</div>
	</body>
	<script src="./js/profile.js"></script>
</html>