<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Task App</title>
		<link
			href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,400&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="./css/style-signup.css" />
		<link
			rel="stylesheet"
			href="/css/ionicons-2.0.1/css/ionicons.min.css"
		/>
	</head>
	<body>
		<a href="/" class="home-button"><i class="ion-ios-home"></i></a>
		<div class="card">
            <h1>Register for your Account</h1>
            <div class="form-card">
				<form>
					<div class="query"><label for="name">Name</label></div>
					<input
						type="text"
						name="name"
						placeholder="Enter name"
						required
					/>
					<div class="query"><label for="age">Age</label></div>
					<input
						type="nuber"
						name="age"
						placeholder="Enter your age"
					/>
					<div class="query"><label for="email">Email</label></div>
					<input
						type="email"
						name="email"
						placeholder="Enter email xyx@abc.com"
						class="dsc"
						required
					/>
					<div class="emailerror"></div>
					<div class="query"><label
							for="password"
						>Password</label></div>
					<input
						type="password"
						name="password"
						placeholder="Enter password"
						class="dsc"
						required
					/>
					<div class="passworderror"></div>
					<button >Sign Up</button>
				</form>
				<h5>Already have an account ?
					<a href="/users/login">Login</a>
				</h5>
                </div>
			</div>
		</div>
	</body>
	<script>
		const form=document.querySelector('form') const
		emailError=document.querySelector('.emailerror') const
		passwordError=document.querySelector('.passworderror')
		emailError.textContent='' passwordError.textContent=''
		form.addEventListener('submit',async(e)=>{ e.preventDefault() const
		name=form.name.value const age=form.age.value const
		email=form.email.value const password=form.password.value try{ const
		res=await fetch('/users',{ method:'POST',
		body:JSON.stringify({name,age,email,password}),
		headers:{'Content-type':'application/json'} }) const data=await
		res.json() console.log(data)
		{{! window.location.replace("/") }}
		if(data.error){ if(data.error.email==='this email is already
		registered'){ emailError.textContent='Already Registered' } }else{
		window.location.replace("/") } }catch(e){ console.log(e) } })
		form.addEventListener('click',errormsz) function errormsz(e){
		if(e.target.classList.contains('dsc')){
		if(emailError.textContent==='Already Registered')
		emailError.textContent="" } }
	</script>
</html>