<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Task App</title>
		<link
			href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,400&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="./css/style.css" />
		<link rel="stylesheet" href="./css/style-tasks.css" />
		<link
			rel="stylesheet"
			href="/css/ionicons-2.0.1/css/ionicons.min.css"
		/>
	</head>
	<body>
		<a href="/" class="home-button"><i class="ion-ios-home"></i></a>
		<h3 class="no-task-message">No task !</h3>
		<div class="task-container">
			<ul class="task-list">
			</ul>
		</div>
		<a href="/addtask" class="add-task-button">+</a>
	</body>
	<script src="./js/tasks.js"></script>
</html>