<a href="/">Home</a>
<h3 class='no-task-message'>No task !</h3>
<ul class='task-list'>
</ul>
<a href="/addtask">Add</a>
<script>
    const taskList=document.querySelector('.task-list')
    const noTaskMessage=document.querySelector('.no-task-message')
    noTaskMessage.style.display='none'
    fetch('/task',{
      headers : { 
        'Content-Type': 'application/json',
        'Accept': 'application/json'
       }
    }).then(response=>{
        response.json().then(data=>{
            {{!-- console.log(data) --}}
            if(data.length===0){    
                noTaskMessage.style.display='block'
            }else{
                noTaskMessage.style.display='none'
                console.log(data)
                
                taskList.innerHTML=""
                var i=1
                data.forEach(task=>{ 
                    
                var newListItem=document.createElement('li') 
                var  newDiv=document.createElement('div')
                
                var taskNo=document.createElement('h3')
                taskNo.textContent='Task : '+i

                var description=document.createElement('p')
                description.textContent='Description : '+task.description
                
                var completed=document.createElement('p')
                completed.textContent='Completed : '+task.completed
                
                var createdAt=document.createElement('p')
                createdAt.textContent='Created At : '+task.createdAt
         
                var deleteButton=document.createElement('button')
                deleteButton.id=task._id
                deleteButton.classList.add('del-Btn')
                deleteButton.textContent='Delete'
                
                newDiv.appendChild(taskNo)         
                newDiv.appendChild(description)         
                newDiv.appendChild(completed)         
                newDiv.appendChild(createdAt)
                newDiv.appendChild(deleteButton)
                newListItem.appendChild(newDiv)
                taskList.appendChild(newListItem)
                i++
                })
            }
        })
    }).then(response=>{
        taskList.addEventListener('click',remove)
    })
    function remove(e){
        if(e.target.classList.contains('del-Btn')){
            var id=e.target.id
            var route='/deletetask/'+id
            console.log(route)
            fetch(route,{method:'DELETE'}).then(res=>{
                res.text()
            }).then(res=>{
                window.location.replace("/tasks")
            })   
        }
    }
</script>